* {
    box-sizing: border-box;
  }


header {
        image-rendering: cover;
        height: 10%;
}

  h1 {text-align: center; font-size: x-large; color: blue; background-color: darkgrey;}
  p {text-align: center;}
  div {text-align: center;}
  
  
  .flex-container {
    display: wrap;
    background-color: DodgerBlue;
  }
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }